/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Fjalla+One&family=Josefin+Sans&family=Poppins:wght@400;500;700&family=Roboto+Condensed:ital@0;1&display=swap');

body{
    font-family: "Poppins", sans-serif;
}

.margin-bottom-content{
    margin-bottom: 5rem;
}


/* Explorer Album Area */

.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-heading {
    font-weight: 700;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
.paragraph{
    font-weight: 500;
    align-items: center;
}  


.rounded-lg{
    border-radius: 1.2rem;
}